@model BettingSiteNet.Models.Matchup

@{ 
    var style = "";
    if (@Model.HomeTeamScore.HasValue)
    {
        style = "background-color: rgba(104,235,109,0.6)";
    }
    else
    {
        if (!Model.CanVote)
        {
            style = "background-color: rgba(204,0,0,0.6)";
        }
    }
}

<th style="@style">
    <table width="170px" class="text-center" style="table-layout:fixed"> 
        <tr>
            <td colspan="2">@Html.DisplayFor(model => model.Country.Name)</td>
        </tr>
        <tr>
            <td colspan="2">@Html.DisplayFor(model => model.GameTime)</td>
        </tr>
        <tr>
            <td align="center" width="50%"><span class="ff-lg fflag fflag-@(Model.Tournament.Country.FlagCode)"></span></td>
            <td align="center" width="50%"><span class="ff-lg fflag fflag-@(Model.Country.FlagCode)"></span></td>
        </tr>
        <tr height="35px">
            @if (Model.HomeTeamScore.HasValue)
            {
                <td>@Html.DisplayFor(model => model.HomeTeamScore)</td>
                <td>@Html.DisplayFor(model => model.EnemyTeamScore)</td>
            }
            else
            {
                if (Model.CanVote)
                {
                    <td id="@Model.Id" class="btn btn-default table-bordered" colspan="2" width="100%" style="display:table-cell">
                        Ievadīt minējumu
                    </td>
                }
                else
                {
                    <td class="btn table-bordered" colspan="2" width="100%" style="display:table-cell">
                        Gaida rezultātu
                    </td>
                }
            }
        </tr>
    </table>
</th>

