@model BettingSiteNet.Models.Prediction

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <td>
        <table>
            <tr>
                <td>
                    @Html.EditorFor(model => model.HomeTeamScore, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.HomeTeamScore, "", new { @class = "text-danger" })

                </td>
                <td>
                    @Html.EditorFor(model => model.EnemyTeamScore, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.HomeTeamScore, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.PointsEarned)</td>
            </tr>
        </table>
    </td>
}