@{
    ViewBag.Title = "Home Page";
}

    <div>
        <ul>
            <li>@Html.ActionLink("Countries", "Index", "Countries")</li>
            <li>@Html.ActionLink("Matchups", "Index", "Matchups")</li>
            <li>@Html.ActionLink("Player Tournaments", "Index", "PlayerTournaments")</li>
            <li>@Html.ActionLink("Predictions", "Index", "Predictions")</li>
            <li>@Html.ActionLink("Tournaments", "Index", "Tournaments")</li>
        </ul>
    </div>