@model BettingSiteNet.Models.Matchup

<div>
    <table>
        <tr>
            <td>@Html.DisplayFor(model => model.Country.Name)</td>
        </tr>
        <tr>
            <td>@Html.DisplayFor(model => model.GameTime)</td>
        </tr>
        <tr>
            <td><span class="ff-lg fflag fflag-@(Model.Tournament.Country.FlagCode)"></span></td>
            <td><span class="ff-lg fflag fflag-@(Model.Country.FlagCode)"></span></td>
        </tr>
        <tr>
            <td>@Html.DisplayFor(model => model.HomeTeamScore)</td>
            <td>@Html.DisplayFor(model => model.EnemyTeamScore)</td>
        </tr>
    </table>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Country.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tournament.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tournament.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GameTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeTeamScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeTeamScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnemyTeamScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnemyTeamScore)
        </dd>

    </dl>
</div>
